{% extends "base.html" %}
{% block content %}
    <div class="jumbotron padded center-text">
        <h1>PDF Colour Split</h1>
        <p>
            PDF Colour Split is a simple tool which can be used to split a PDF
            file into multiple separate PDF files containing only the colour
            or only the monochrome pages.  This allows them to be printed
            separately to save on printing costs where jobs specified as colour
            are charged at a higher rate than those specified as monochrome.
        </p>
        <a href="/start/" class="btn btn-lg btn-primary">Start!</a>
    </div>
{% endblock %}
